*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    overflow: hidden;
}
.main-width{
   width: 1400px; 
   max-width: 95%;
   margin: 0 auto;
}
.web{
    height: 100%;
    width: 100%;
    min-height:100vh;
    background-image: url(demon1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo  {
    display: block;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color:white; 
    font-family: "Noto Sans JP", sans-serif;
}
 
.web header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 80px;
    border-bottom: 2px solid transparent;
    font-family: "Baskervville SC", serif; ;
    font-weight: 600;
    font-size: 20px;
    transition: 4s;
}

.bass {
    margin-left: 60px;
    margin-right:60px ;
}


.des {
    color: white;   
    font-family: "Playwrite GB S", cursive;
    margin-top: 70px;
    text-align: justify;
}
 .des h1 {
    font-family: "Playwrite GB S", cursive;
    color: white;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 
